// Grid

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $breakpoint-small) {
    width: 80%;
  }

  @media only screen and (min-width: $breakpoint-large) {
    width: 75%;
    max-width: $maxWidth;
  }
}

.row {
  position: relative;
  width: 100%;
	@if( $gridDebug == true ) {
		background: grey(lightest); // testing purposes
	}
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col__"] {
	@if( $gridDebug == true ) {
		background: transparentize(yellow, .7); // testing purposes
		border: 1px solid yellow;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}
}

.col__1,
.col__2,
.col__,
.col__4,
.col__5,
.col__6,
.col__7,
.col__8,
.col__9,
.col__10,
.col__11,
.col__12 {
  width: $width;
}

.col__1--sm { width:($width / 12) - ($gutter * 11 / 12); }
.col__2--sm { width: ($width / 6) - ($gutter * 10 / 12); }
.col__3--sm { width: ($width / 4) - ($gutter * 9 / 12); }
.col__4--sm { width: ($width / 3) - ($gutter * 8 / 12); }
.col__5--sm { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
.col__6--sm { width: ($width / 2) - ($gutter * 6 / 12); }
.col__7--sm { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
.col__8--sm { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
.col__9--sm { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
.col__10--sm { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
.col__11--sm { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
.col__12--sm { width: $width; }

@media only screen and (min-width: $breakpoint-med) {
  .col__1 { width:($width / 12) - ($gutter * 11 / 12); }
  .col__2 { width: ($width / 6) - ($gutter * 10 / 12); }
  .col__3 { width: ($width / 4) - ($gutter * 9 / 12); }
  .col__4 { width: ($width / 3) - ($gutter * 8 / 12); }
  .col__5 { width: ($width / (12 / 5)) - ($gutter * 7 / 12); }
  .col__6 { width: ($width / 2) - ($gutter * 6 / 12); }
  .col__7 { width: ($width / (12 / 7)) - ($gutter * 5 / 12); }
  .col__8 { width: ($width / (12 / 8)) - ($gutter * 4 / 12); }
  .col__9 { width: ($width / (12 / 9)) - ($gutter * 3 / 12); }
  .col__10 { width: ($width / (12 / 10)) - ($gutter * 2 / 12); }
  .col__11 { width: ($width / (12 / 11)) - ($gutter * 1 / 12); }
  .col__12 { width: $width; }

  .hidden--sm {
    display: block;
  }
}