.u-m--0  { margin: 0 }
.u-m-t--0 { margin-top: 0 }
.u-m-r--0 { margin-right: 0 }
.u-m-b--0 { margin-bottom: 0 }
.u-m-l--0 { margin-left: 0 }
.u-m-x--0 { margin-left: 0; margin-right:  0 }
.u-m-y--0 { margin-top: 0;  margin-bottom: 0 }

.u-m--1   { margin:        $spacing1 }
.u-m-t--1 { margin-top:    $spacing1  }
.u-m-r--1 { margin-right:  $spacing1  }
.u-m-b--1 { margin-bottom: $spacing1  }
.u-m-l--1 { margin-left:   $spacing1  }
.u-m-y--1 { margin-top:    $spacing1 ; margin-bottom: $spacing1 }
.u-m-x--1 { margin-left:   $spacing1 ; margin-right:  $spacing1  }

.u-m--2   { margin:        $spacing2 }
.u-m-t--2 { margin-top:    $spacing2  }
.u-m-r--2 { margin-right:  $spacing2  }
.u-m-b--2 { margin-bottom: $spacing2  }
.u-m-l--2 { margin-left:   $spacing2  }
.u-m-y--2 { margin-top:    $spacing2 ; margin-bottom: $spacing2 }
.u-m-x--2 { margin-left:   $spacing2 ; margin-right:  $spacing2  }

.u-m--3   { margin:        $spacing3 }
.u-m-t--3 { margin-top:    $spacing3  }
.u-m-r--3 { margin-right:  $spacing3  }
.u-m-b--3 { margin-bottom: $spacing3  }
.u-m-l--3 { margin-left:   $spacing3  }
.u-m-y--3 { margin-top:    $spacing3 ; margin-bottom: $spacing3 }
.u-m-x--3 { margin-left:   $spacing3 ; margin-right:  $spacing3  }

.u-m--4   { margin:        $spacing4 }
.u-m-t--4 { margin-top:    $spacing4  }
.u-m-r--4 { margin-right:  $spacing4  }
.u-m-b--4 { margin-bottom: $spacing4  }
.u-m-l--4 { margin-left:   $spacing4  }
.u-m-y--4 { margin-top:    $spacing4 ; margin-bottom: $spacing4 }
.u-m-x--4 { margin-left:   $spacing4 ; margin-right:  $spacing4  }